#fragments_div
{
    height:160px;
    background:rgb(193,213,251);

    font-family: 'Share Tech Mono';
    text-align: center;
    line-height: 160px;
}

#input_div
{
    background:rgb(193,144,251);
    text-align: center;
    align-content: center;
}

#start_btn
{
    display: block;
    float: left;
}

span
{
    font-size: 72px;
}
